.project{
    background-color: #EAE7DC;
}

.navbar{
    background-color: #EAE7DC;
    font-style : #8e8d8a;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}


.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 2.5em;
    color: #E85a4F;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }
.section{
    padding-top:20%
}

.title{
    padding-bottom:10px;
    color: #E85a4F;
}

.card{
    background-color: #EAE7DC;
}



/* #welcome{
    padding-top: 20%;

}


#portfolio{
    padding-top: 20%;
} */

#social-media ul{
    list-style-type: none;
    display: inline;
    padding: none;
}

.social-links ul a{
    color: #E85a4F;
}
.social-links ul a:hover {
    color: #8e8d8a;
list-style: none; 
}

li
{ 
display:inline-block; 
padding: 0;
}   
