.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 2.5em;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }
.section{
    padding-top:20%
}

.title{
    padding-bottom:10px;
}
/* #welcome{
    padding-top: 20%;

}

#about-me{
    padding-top: 20%;
}
#portfolio{
    padding-top: 20%;
} */

#social-media ul{
    list-style-type: none;
    display: inline;
}

.social-links ul a{
    color: palevioletred;
}
.social-links ul a:hover {
    color: #ca8627;
list-style: none; 
}

li
{ 
display:inline-block; 
}   

